

@mixin theme {
    --bg-color: #1C1815;
    --text-color: #F3F6F5;
    --primary-color: #3f5228;
    --secondary-color: #344646;
    --accent-color: #85AFA1;
    --accent2-color:#7E9441;
}

:root {
    @include theme;
}

